<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Enter e-mail</title>
        <link rel="stylesheet" href="css/signup.css" />
    </head>
    <body>
        <form class="signupform" action="email.php" method="post" id="loginform">
            <div class="signupheader">
                <div class="colorheader">
                    Enter e-mail
                </div>
            </div>
            <table class="tablesignup">
                <tr>
                    <td class="tablelem">
                        <label class="labelfield" >Email:</label>
                    </td>
                    <td class="tabldata">
                        <input class="inputfield" type="text" name="email" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="tablelem">
                    </td>
                    <td class="tabldata">
                        <input class="submitfield" type="submit" value="Find User" id="submit" />
                    </td>
                </tr>

            </table>
        </form>
    </body>
</html>