                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="tablelem">
                    </td>
                    <td class="tabldata">
                        <a class="hrefsignup" href="http://htmlbook.ru/html/!doctype" title="info">Why do I need to provide this?</a>
                    </td>
                </tr>

                <tr>
                    <td class="tablelem">
                    </td>
                    <td class="tabldata">
                        <input class="submitfield" type="submit" value="Sign Up" id="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>