.tablelem
{
    text-align: right;
    font: 12px sans-serif;
    width: 110px;
}
.tabledata
{
    width: 275px;
}
.tablesignup
{
    height: 37px;    
    padding: 10px;
}

.inputfield
{
    height: 32px;
    width: 263px; 
    border: 1px solid rgb(150, 166, 197);
}

.selectfield
{
    height: 32px;
    border: 1px solid rgb(150, 166, 197);
}


.signupheader
{
    font: 14px sans-serif;   
    padding: 10px;
    border-bottom: 1px solid rgb(150, 166, 197);
}

.colorheader
{
    padding-bottom: 10px;
    font: bold 18px sans-serif;
    color: rgb(14, 56, 95);
}

.signupform
{
    width: 390px; 
}

a.hrefsignup
{
    text-decoration: none; 
    font: 11px sans-serif;
} 

a.hrefsignup:hover 
{ 
    text-decoration: underline; 
}

.submitfield
{
    height: 29px;
    width: 110px; 
    background: linear-gradient(to top, #75ae5c, #67a54b);
    color: white;
    border: 1px solid rgb(150, 166, 197);
}