.main
{
    width: 400px;
    height: 370px;
    margin: 10px;  
}

.line
{
    width: 395px;
    height: 42px;  
    clear: both;
}

.right
{
    width: 266px;
    border: 1px solid #9babc5;
    background: #fff;
    height: 35px;  
    float: left;
}

.labelfield
{
    font-size: 14px;
    width: 120px;
    height: 35px;  
    float: left;
    text-align: right;
    margin-right: 7px;
    line-height: 37px;
}

.inputfield
{
    height: 31px;
    width: 263px; 
    margin: 1px;
    border: 0;
}

.registered
{
    font-size: 14px;
    color: green;
}

.selectfield
{
    height: 35px;
    border: 1px solid #9babc5;
}


.signupheader
{
    font: 14px sans-serif;   
    padding: 10px;
    border-bottom: 1px solid rgb(150, 166, 197);
}

.colorheader
{
    padding-bottom: 10px;
    font: bold 18px sans-serif;
    color: rgb(14, 56, 95);
}

.signupform
{
    font-family: Arial;
    width: 500px;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -250px;
    background: linear-gradient(to top, #dfe3ef, #fcfdfe);
    padding: 10px 10px 3px 3px;
}

a.hrefsignup
{
    margin-left: 130px;
    text-decoration: none; 
    font: 11px sans-serif;
} 

a.hrefsignup:hover 
{ 
    text-decoration: underline; 
}

.submitfield
{
    height: 35px;
    width: 110px; 
    margin-top: 5px;
    background: linear-gradient(to top, #75ae5c, #67a54b);
    color: white;
    border: 1px solid rgb(150, 166, 197);
}

.error
{
    color: red;
}
